.logoBtgPactual {
  width: auto;
  height: 4rem;
}

.menu .nav-item .nav-link .active {
  color: #151e9d;
  font-weight: 700;
  border-bottom-color: #151e9d;
}

.menu .nav-item .nav-link {
  color: #151e9d87;
  border-bottom: 0.25rem solid #151e9d87;
  font-size: 18px;
  font-weight: 700;
}

.menu .nav-item .nav-link:hover {
  color: #ffffff;
  background-color: #151e9db5;
}
#bgpactualMenu .menu > li.nav-item > a.nav-link.active {
  color: #ffffff;
  background-color: #151e9d;
}

.saldoActual {
  width: auto;
}
